# Required for deployment
PRIVATE_KEY=0363694e65974620fc017f1c7973b05818da5406ff6b085e59e1c33a43ae01e8

# Optional — defaults to public Sepolia endpoint
SEPOLIA_RPC_URL=https://eth-sepolia.public.blastapi.io

# Optional — for contract verification on Etherscan
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY
